<!DOCTYPE html>
<link rel="stylesheet" href="/css/styles.css">
<html>
<header>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.jpg">
</header>
<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Javad Yarahmadi</p>
        <img class="portrait" src="/img/bot.png">
    </div>
    
    {{>footer}}
</body>
</html>